.inputDiv {
    width: 100%;
    margin-bottom: 15px;
}

.buttonsDiv {
    display: flex;
    justify-content: space-between;
}

.filterDiv {
    display: flex;
    align-items: center;
    gap: 10px
}

.desc {
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis; 
}

.header {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}